In [1]:
# 데이터 사전처리 preproccessing data
# 1. 누락 데이터 확인
# 2. 누락 데이터 처리
# 삭제 dropna()
# 치환 fillna()
import pandas as pd
import seaborn as sns

In [2]:
# titanic 데이터 load
df = sns.load_dataset('titanic')
df.info()
# 데이터프레임의 데이터의 인덱수의 갯수와 컬럼별 데이터의 갯수 및 자료 타입

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [5]:
# deck 컬럼이 누락데이터가 많이 존재함.
# 인덱수 갯수가 891개 deck 자료 갯수 203개
# deck 컬럼의 누락데이터가 몇개인지 확인 : value_counts(dropna=False)
print(df.deck.value_counts(dropna=False))
# NaN 갯수 확인

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [17]:
# 누락 데이터를 직접 찾는 방법 : .isnull(), .notnull()
# print(df.head().isnull()) # null이면 True
# print(df.head().notnull()) # null이면 False

# 누락 데이터 갯수 확인
print(df.isnull().sum()) # 행으로 계산할 때 sum(axis=1)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
# isnull(), value_counts() -> 각 열의 값에 누락변수가 몇개씩 존재하는지 확인
miss_df = df.isnull() # null이면 True

for col in miss_df.columns:
    miss_count = miss_df[col].value_counts() # 각 열의 Nan 갯수 파악
    
    try:
        print('{} : {}'.format(col, miss_count[True]))
    except:
        print('{} : {}'.format(col,0))

survived : 0
pclass : 0
sex : 0
age : 177
sibsp : 0
parch : 0
fare : 0
embarked : 2
class : 0
who : 0
adult_male : 0
deck : 688
embark_town : 2
alive : 0
alone : 0

In [24]:
# 누락 데이터 처리
# Nan 데이터가 500개 이상인 컬럼을 삭제 
df_thresh = df.dropna(axis=1, thresh=500)
print(df_thresh.columns) # deck가 삭제되어 있음
print(); df_thresh.info(); print()
print(df_thresh.isnull().sum())

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [27]:
# age컬럼에 Nan이 있는 인덱스(행)을 제거
df_age = df_thresh.dropna(subset=['age'], axis=0, how='any')
print(df_age.columns) ; print()
df_age.info()

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     714 non-null    int64
 1   pclass       714 non-null    int64
 2   sex          714 non-null    object
 3   age          714 non-null    float64
 4   sibsp        714 non-null    int64
 5   parch        714 non-null    int64
 6   fare         714 non-null    float64
 7   embarked     712 non-null    object
 8   class        714 non-null    category
 9   who          714 non-null    object
 10  adult_male   714 non-null    bool
 11  embark_town  712 non-null    object
 12  alive        714 non-null    object
 13  alone        714 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 69.2+ KB

In [35]:
# 누락 데이터 치환
# age의 누락 데이터에 age의 평균값으로 치환
df_age = df.copy()
print(df_age['age'].head(10)) ; print()

mean_age = int(df['age'].mean(axis=0))
print(mean_age) ; print()

df_age['age'].fillna(mean_age, inplace=True)
print(df_age['age'].head(10))

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

29

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5    29.0
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [52]:
# 누락 데이터 치환
# embark_town의 누락 데이터에 가장 빈번한 값으로 치환
df_embark = df.copy()
print(df_embark['embark_town'][825:830]) ;print()

# 가장 빈번하게 나오는 값 찾기
most_data = df_embark['embark_town'].value_counts(dropna=True).idxmax()

df_embark['embark_town'].fillna(most_data,inplace=True)
print(df_embark['embark_town'][825:830])

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
Name: embark_town, dtype: object

In [57]:
# 누락 데이터 치환
# embark_town의 누락 데이터에 인접한 값으로 치환
df_embark = df.copy()
print(df_embark['embark_town'][825:831]) ;print()

df_embark['embark_town'].fillna(method='ffill',inplace=True)
# 'ffill' 앞(front)에 값으로,'bfill' 뒤(back)에 값으로 대체
print(df_embark['embark_town'][825:831])

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
830      Cherbourg
Name: embark_town, dtype: object

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829     Queenstown
830      Cherbourg
Name: embark_town, dtype: object

In [67]:
# 중복 데이터 처리
df = pd.DataFrame({'c1': ['a','a','b','a','b'],
                   'c2': [1,1,1,2,2],
                   'c3': [1,1,2,2,2]
                   })
print(df); print()

# 중복 데이터 확인 : .duplicated() 중복된 데이터이면 True
print(df.duplicated()) # 행단위의 중복 확인
print()
print(df['c2'].duplicated()) # 열단위(Series)의 중복 확인
print()

# 중복 행 데이터를 제거 : .drop_duplicates()
df2 = df.drop_duplicates()
print(df2)

# 컬럼을 기준으로 중복 행 제거
df3 = df.drop_duplicates(subset=['c2','c3'])
print(df3)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

0    False
1     True
2    False
3    False
4    False
dtype: bool

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [77]:
# titanic 데이터를 load 해서
# age 컬럼이 Nan이면 삭제하고
# age 컬럼을 기준으로 중복을 제거
df = sns.load_dataset('titanic')
df.info()

titanic = df.dropna(subset=['age'],axis=0)
titanic.info()

uniq_age = titanic.drop_duplicates(subset=['age'])
uniq_age.info()

# 모든 컬럼의 값이 같은 행을 제거
titanic_dup = titanic.drop_duplicates()
titanic_dup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     714 non-null    int64
 1   pclass       714 non-null    int64
 2   sex          714 non-null    object
 3   age          714 non-null    float64
 4   sibsp        714 non-null    int64
 5   parch        714 non-null    int64
 6   fare         714 non-null    float64
 7   embarked     712 non-null    object
 8   class        714 non-null    category
 9   who          714 non-null    object
 10  adult_male   714 non-null    bool
 11  deck         184 non-null    category
 12  embark_town  712 non-null    object
 13  alive        714 non-null    object
 14  alone        714 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 70.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 0 to 851
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     88 non-null     int64
 1   pclass       88 non-null     int64
 2   sex          88 non-null     object
 3   age          88 non-null     float64
 4   sibsp        88 non-null     int64
 5   parch        88 non-null     int64
 6   fare         88 non-null     float64
 7   embarked     88 non-null     object
 8   class        88 non-null     category
 9   who          88 non-null     object
 10  adult_male   88 non-null     bool
 11  deck         29 non-null     category
 12  embark_town  88 non-null     object
 13  alive        88 non-null     object
 14  alone        88 non-null     bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 9.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 678 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     678 non-null    int64
 1   pclass       678 non-null    int64
 2   sex          678 non-null    object
 3   age          678 non-null    float64
 4   sibsp        678 non-null    int64
 5   parch        678 non-null    int64
 6   fare         678 non-null    float64
 7   embarked     676 non-null    object
 8   class        678 non-null    category
 9   who          678 non-null    object
 10  adult_male   678 non-null    bool
 11  deck         183 non-null    category
 12  embark_town  676 non-null    object
 13  alive        678 non-null    object
 14  alone        678 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 66.7+ KB